<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045833249346-ku9c0om4ggno6hntibl100a3osqpcm9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045833249346-ku9c0om4ggno6hntibl100a3osqpcm9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCp99LZusFzNER7g0V_p9Ko9rQlJCPxHPM</string>
	<key>GCM_SENDER_ID</key>
	<string>1045833249346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cohort.app</string>
	<key>PROJECT_ID</key>
	<string>cohortapp-5dc37</string>
	<key>STORAGE_BUCKET</key>
	<string>cohortapp-5dc37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045833249346:ios:eae88fe6a4c81528e9f3db</string>
	<key>DATABASE_URL</key>
	<string>https://cohortapp-5dc37.firebaseio.com</string>
</dict>
</plist>